extends layout
block content    
    include ./navbar.jade
    div.container
        div.row
            div.col-sm-8.col-sm-offset-2.text-center
                h1.single-movie-title #{parsedData.title}
                h3.single-movie-title #{parsedData.tagline}
                a(href='#{parsedData.homepage}')
                    img(src='#{imageBaseUrl+parsedData.poster_path}')
                p.overview-header
                    | Movie Synopsis: 
                    span.single-movie-overview
                    | #{parsedData.overview}

        div.col-sm-12.text-center
            button.btn.btn-primary.btn-lg(type='button', data-toggle='modal', data-target='#myModal')
                | More Details
        // Modal
        div#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
            div.modal-dialog(role='document')
                div.modal-content
                    div.modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') &times;
                        h4#myModalLabel.modal-title Movie Information
                    div.modal-body
                        br
                        p IMDB Page :
                            a(href='https://www.imdb.com/title/#{parsedData.imdb_id}', target='_blank') &nbsp; &nbsp; IMDB link
                        p budget :
                            small.text-muted &nbsp; &nbsp; #{parsedData.budget} 
                        p revenue :
                            small.text-muted &nbsp; &nbsp; #{parsedData.revenue}
                        p release date :
                            small.text-muted &nbsp; &nbsp; #{parsedData.release_date}
                        p production companies :
                        ul
                            each company in parsedData.production_companies
                                li=company.name
                    div.modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') Close
                        button.btn.btn-primary(type='button') Save changes
